nav{
background-color: #e6e6fa ;
height: 50px;
text-align: center ;
/*vertical-align: middle ;*/
}

.main-menu {
list-style-type: none ;
margin: 0 ;
padding: 0 ;

}

.main-menu li {
display: inline-block ;
width:180px ; 
/*height:40px ;	*/

}

li+ li {
  border-left: 1px solid #333;
}

.main-menu li a {
text-decoration: none ;
display:block ;			/*リンク部分をブロック表示にする*/
/*幅と高さ*/

color: #333 ;
/*padding: 10% ;*/
}

nav ul li a:hover{
color: orange ;
}

