nav{
background-color: #e6e6fa ;
/*height: 50px;*/
text-align: center ;
/*vertical-align: middle ;*/
}

.main-menu {
list-style-type: none ;
margin: 40px ;
padding: 0 ;

}

.main-menu li {
display: inline-block ;
width:180px ; 
/*height:40px ;	*/

}

li+ li {
  border-left: 1px solid #333;
}

.main-menu li a {
text-decoration: none ;
display:block ;			/*リンク部分をブロック表示にする*/
/*幅と高さ*/

color: #333 ;
/*padding: 10% ;*/
}

nav ul li a:hover{
color: orange ;
}

table {
  border-collapse: collapse;
  width: 400px;
  text-align: center; /* 全テキストを中央寄せ */
}
th, td {
  border: solid 1px #333;
}

h1 {
margin: 20px ;
text-align: center ;
font-size: 20px;
}
h3 {
padding: 0.5em;/*文字周りの余白*/
color: #494949;/*文字色*/
background: #fffaf4;/*背景色*/
border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
font-size: 15px;
}

h4 {
    margin: 35px 0 0;
    padding: 0 0 6px;
    border-bottom: solid 1px #ccc;
    font-size: 26px;
}
 
h4::before {
    margin: 0 6px 0 0;
    content: "\f0dd";
    color: #26990A;
    font-family: FontAwesome;
    position: relative;
    top: -4px;
}

